<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの発行 / パッケージ処理で使用されます。この MSBuild ファイルを編集すると、
この処理の動作をカスタマイズできます。詳細については、https://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/a1a9cddd-b0bb-49b8-8d91-91ce54a9be30/resourcegroups/Default-ApplicationInsights-CentralUS/providers/Microsoft.Web/sites/SignalBlazorRServer20180327020648</ResourceId>
    <ResourceGroup>Default-ApplicationInsights-CentralUS</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://signalblazorrserver20180327020648.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/a1a9cddd-b0bb-49b8-8d91-91ce54a9be30/resourcegroups/Default-ApplicationInsights-CentralUS/providers/Microsoft.ContainerRegistry/registries/registry20180327020649</ContainerResourceId>
    <ContainerResourceName>registry20180327020649</ContainerResourceName>
    <Subscription>MSDN 向け開発テスト用の従量課金制プラン</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20180327020649.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2609e784-d41e-46f8-a344-342d02dbf6fa</ProjectGuid>
  </PropertyGroup>
</Project>