@page "/"
@inject LoginService LoginService

<h1>ログインしてね</h1>

@if (LoginService.UserData == null)
{
    <p>
        名前：<input type="text" bind="loginData.ID" /><br />
        発言：<input type="text" bind="loginData.PassWord" /><br />
        <button onclick="@ログイン">ログイン</button><br />
        <span class="error">@LoginService.ErrMessagse</span>
    </p>
}
else
{
    <p>
        名前：『@LoginService.UserData.Name』さん<br />
        イラッシャイマセ
    </p>

}





@functions {
    LoginData loginData = new LoginData();

    async Task ログイン()
    {
        await LoginService.ログイン(loginData);
        this.StateHasChanged();
    }

}

