@page "/"
@inject LoginService LoginService

@if (LoginService.UserData == null)
{

    <h1>ログインしてね</h1>

    <p>
        名前：<input type="text" bind="loginData.ID" /><br />
        パスワード：<input type="text" bind="loginData.PassWord" /><br />
        <button class="btn btn-primary"  onclick="@ログイン">ログイン</button><br />
        <span class="error">@LoginService.ErrMessagse</span>
    </p>
}
else
{

    <h1>ログインしたね</h1>

    <p>
        名前：『@LoginService.UserData.Name』さん<br />
        イラッシャイマセ
    </p>

}





@functions {
LoginData loginData = new LoginData();

async Task ログイン()
{
    await LoginService.ログイン(loginData);
    this.StateHasChanged();
}

}

